<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="3">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Demo.testngDemo.Parallel1"/>
      <class name="Demo.testngDemo.Parallel2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
